/** {
    border-width: 1px;
    border-style: solid;
}*/

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #EEEEEE;
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
